[Unit]
Description=tcpdump %i

[Service]
ExecStart=/home/pi/raspi-netmon-v2/netmon/tcpdump.sh %i
#StandardOutput=inherit
#StandardError=inherit
Restart=always
#User=root

[Install]
WantedBy=multi-user.target
