[Unit]
Description=Mount tmpfs for tcpdump

[Mount]
What=tmpfs
Where=/var/run/tcpdump_eth0
Type=tmpfs
Options=mode=1777,strictatime

[Install]
WantedBy=local-fs.target
